# Ignora ambientes virtuais
**/.venv/
.env
.dev.env
venv/

# Ignora artefatos do dbt (queremos que o container gere os dele)
dw/dbt_packages/
dw/target/
dw/logs/
dw/package-lock.yml
dw/.dbt
# Ignora caches de Python
**/__pycache__/
**/*.pyc
/**/__pycache__/
/**/*.pyc

# Ignora arquivos de sistema
.DS_Store
.git/

# Igora arquivos de configuração do VSCode
.credentials/
.vscode/
**.duckdb